body {
    background-color: rgb(245,245,220);
    font-family: 'Sans-serif';
}

.principal{
    margin-left: 40px;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5];
    grid-template-rows: [y0] 7px [y1] 190px [y2] 200px [y3];
    background: rgba(199, 246, 189, 0.62);
}


.menu {
    grid-column: x0 / x1;
    grid-row: y0 / y1;
}

.titulo {
    grid-column: x2 / x3;
    grid-row: y0 / y1;
    justify-self: start;
}

.usuario {
    grid-column: x4 / x5;
    grid-row: y0 / y1;
    justify-self: start;
}

.carrito {
    grid-column: x3 / x4;
    grid-row: y0 / y1;
    justify-self: end;
}

.sofa {
    grid-column: x2 / x4;
    grid-row: y1 / y2;
    justify-self: center;
}

.descripcion {
    grid-column: x1 / x2;
    grid-row: y2 / y3;
    justify-self: center;
}

.elementos{
    margin-top: 2%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: [x0] 200px [x1] 320px [x2] 400px [x3] 400px [x4] 100px [x5];
    grid-template-rows: [y0] 320px [y1] 380px [y2] 380px [y3];
}


.sillon{
    grid-column: x1 / x2;
    grid-row: y0 / y1;
    justify-self: center;
}

.mesa{
    grid-column: x2 / x3;
    grid-row: y1 / y2;
    justify-self: center;
}

.lampara{
    grid-column: x1 / x2;
    grid-row: y2 / y3;
    justify-self: center;
}


.name1, .name2, .name3 {
    text-align: center;
}

.descripcion_sillon {
    grid-column: x2 / x3;
    grid-row: y0 / y1;
    justify-self: center;
    align-self: center;
    background:rgb(230, 230, 230);  
}

.descripcion_mesa{
    grid-column: x1 / x2;
    grid-row: y1 / y2;
    justify-self: end;
    align-self: center;
    background:rgb(230, 230, 230);   
}

.descripcion_lampara {
    grid-column: x2 / x3;
    grid-row: y2 / y3;
    justify-self: center;
    align-self: center; 
    background:rgb(230, 230, 230);   
}

p {
    font-size: 14px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}