body {
    background-color: rgb(245,245,220);
    font-family: monospace;
}

.principal {
    margin-left: 38%;
    margin-top: 2%;
}

.sillon{
    float: left;
    margin-top: 3%;
    margin-left: 18%;
}

.mesa{
    float: right;
    margin-top: 28%;
    margin-right: 25%;
}

.lampara{
    float: left;
    margin-top: 21%;
    margin-left: 18%;
}


