body {
    background-color: rgb(245,245,220);
    font-family: 'Sans-serif';
}

.chat{
    margin-left: 40px;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 7px [y1] 10px [y2] 400px [y3] 20px [y4];
    background: rgba(199, 246, 189, 0.62);
}

#msg_entry{
    grid-column: x0 / x2;
    grid-row: y3 / y4;
}

.h3 {
    grid-column: x0 / x3;
    grid-row: y2 / y3;
}