body {
    background-color: rgb(245,245,220);
    font-family: 'Sans-serif';
}

.chat{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
    grid-template-rows: [y0] 120px [y1] 10px [y2] 400px [y3] 20px [y4];
}
 

#nombre{
    grid-column: x0 / x4;
    grid-row: y0 / y1;;
    color: white;
    background: rgb(105, 7, 89); 
    text-align: center;
}

#msg_entry{
    grid-column: x1 / x3;
    grid-row: y3 / y4;
    background: rgb(245,245,220);
    height: 30px;
}

#display{
    grid-column: x1 / x3;
    grid-row: y2 / y3;
    background: rgb(245,245,220);
}

